<form (submit)="onSubmit()">
  

    <div>
      <label for="title">Title : </label>
      <input type="text" id="title" name="title"[(ngModel)]="title"> 
      
    </div>
    <div>
      <label for="price">Price : </label>
      <input type="number" id="price" name="price"[(ngModel)]="price"> 
    </div>
    <div>
      <label for="description">Description: </label>
      <input type="text" id="description" name="description"[(ngModel)]="description">
    </div>
    <div>
        <label for="category">Category: </label>
        <input type="text" id="category" name="category"[(ngModel)]="category">
      </div>
      <div>
        <label for="image">Image: </label>
        <input type="text" id="image" name="image"[(ngModel)]="image">
      </div>  
      <div>
        <label for="rating">Rating: </label>
        <input type="number" id="rating" name="rating"[(ngModel)]="rating">
      </div>
      <div>
        <label for="rate">Rate: </label>
        <input type="number" id="rate" name="rate"[(ngModel)]="rate">
      </div>
      <div>
        <label for="count">Count: </label>
        <input type="number" id="category" name="category"[(ngModel)]="category">
      </div>


  </form>  
